<a href="https://colab.research.google.com/github/Kalei404/ML/blob/main/EntropyKalei.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#A Python Function for Entropy
For this function,the NumPy library to use the bincount() function and the math module to use the log() function.

In [37]:
import numpy as np
import math

#Importing the Data
Data is imported using the Python pandas library

In [38]:
import pandas as pd
entropy_data = pd.read_csv('sample_data/entropy.csv')
entropy_data

  Where When Fred Starts Joe Offense Joe Defense  Opp C OutCome
0  Home  7pm         Yes      Centre     Forward   Tall     Won
1  Home  7pm         Yes     Forward      Centre  Short     Won
2  Away  7pm         Yes     Forward     Forward   Tall     Won
3  Home  5pm          No     Forward      Centre   Tall    Lost
4  Away  9pm         Yes     Forward     Forward  Short    Lost
5  Away  7pm          No      Centre     Forward   Tall     Won
6  Home  7pm          No     Forward      Centre   Tall    Lost
7  Home  7pm         Yes      Centre      Centre   Tall     Won
8  Away  7pm         Yes      Centre      Centre  Short     Won
9  Home  9pm          No     Forward      Centre  Short    Lost

In [39]:
entropy_temp = entropy_data
entropy_temp

  Where When Fred Starts Joe Offense Joe Defense  Opp C OutCome
0  Home  7pm         Yes      Centre     Forward   Tall     Won
1  Home  7pm         Yes     Forward      Centre  Short     Won
2  Away  7pm         Yes     Forward     Forward   Tall     Won
3  Home  5pm          No     Forward      Centre   Tall    Lost
4  Away  9pm         Yes     Forward     Forward  Short    Lost
5  Away  7pm          No      Centre     Forward   Tall     Won
6  Home  7pm          No     Forward      Centre   Tall    Lost
7  Home  7pm         Yes      Centre      Centre   Tall     Won
8  Away  7pm         Yes      Centre      Centre  Short     Won
9  Home  9pm          No     Forward      Centre  Short    Lost

In [40]:
tempdf = pd.get_dummies(entropy_temp['Where'])
print(tempdf)
tempdf = tempdf.drop(['Away'], axis=1)
print(tempdf)

entropy_temp['Where'] = tempdf['Home']
entropy_temp

   Away  Home
0     0     1
1     0     1
2     1     0
3     0     1
4     1     0
5     1     0
6     0     1
7     0     1
8     1     0
9     0     1
   Home
0     1
1     1
2     0
3     1
4     0
5     0
6     1
7     1
8     0
9     1

   Where When Fred Starts Joe Offense Joe Defense  Opp C OutCome
0      1  7pm         Yes      Centre     Forward   Tall     Won
1      1  7pm         Yes     Forward      Centre  Short     Won
2      0  7pm         Yes     Forward     Forward   Tall     Won
3      1  5pm          No     Forward      Centre   Tall    Lost
4      0  9pm         Yes     Forward     Forward  Short    Lost
5      0  7pm          No      Centre     Forward   Tall     Won
6      1  7pm          No     Forward      Centre   Tall    Lost
7      1  7pm         Yes      Centre      Centre   Tall     Won
8      0  7pm         Yes      Centre      Centre  Short     Won
9      1  9pm          No     Forward      Centre  Short    Lost

In [41]:
tempdf = pd.get_dummies(entropy_temp['Fred Starts'])
print(tempdf)
tempdf = tempdf.drop(['No'], axis=1)
print(tempdf)

entropy_temp['Fred Starts'] = tempdf['Yes']
entropy_temp

   No  Yes
0   0    1
1   0    1
2   0    1
3   1    0
4   0    1
5   1    0
6   1    0
7   0    1
8   0    1
9   1    0
   Yes
0    1
1    1
2    1
3    0
4    1
5    0
6    0
7    1
8    1
9    0

   Where When  Fred Starts Joe Offense Joe Defense  Opp C OutCome
0      1  7pm            1      Centre     Forward   Tall     Won
1      1  7pm            1     Forward      Centre  Short     Won
2      0  7pm            1     Forward     Forward   Tall     Won
3      1  5pm            0     Forward      Centre   Tall    Lost
4      0  9pm            1     Forward     Forward  Short    Lost
5      0  7pm            0      Centre     Forward   Tall     Won
6      1  7pm            0     Forward      Centre   Tall    Lost
7      1  7pm            1      Centre      Centre   Tall     Won
8      0  7pm            1      Centre      Centre  Short     Won
9      1  9pm            0     Forward      Centre  Short    Lost

In [42]:
tempdf = pd.get_dummies(entropy_temp['Joe Offense'])
print(tempdf)
tempdf = tempdf.drop(['Centre'], axis=1)
print(tempdf)

entropy_temp['Joe Offense'] = tempdf['Forward']
entropy_temp

   Centre  Forward
0       1        0
1       0        1
2       0        1
3       0        1
4       0        1
5       1        0
6       0        1
7       1        0
8       1        0
9       0        1
   Forward
0        0
1        1
2        1
3        1
4        1
5        0
6        1
7        0
8        0
9        1

   Where When  Fred Starts  Joe Offense Joe Defense  Opp C OutCome
0      1  7pm            1            0     Forward   Tall     Won
1      1  7pm            1            1      Centre  Short     Won
2      0  7pm            1            1     Forward   Tall     Won
3      1  5pm            0            1      Centre   Tall    Lost
4      0  9pm            1            1     Forward  Short    Lost
5      0  7pm            0            0     Forward   Tall     Won
6      1  7pm            0            1      Centre   Tall    Lost
7      1  7pm            1            0      Centre   Tall     Won
8      0  7pm            1            0      Centre  Short     Won
9      1  9pm            0            1      Centre  Short    Lost

In [43]:
tempdf = pd.get_dummies(entropy_temp['Joe Defense'])
print(tempdf)
tempdf = tempdf.drop(['Centre'], axis=1)
print(tempdf)

entropy_temp['Joe Defense'] = tempdf['Forward']
entropy_temp

   Centre  Forward
0       0        1
1       1        0
2       0        1
3       1        0
4       0        1
5       0        1
6       1        0
7       1        0
8       1        0
9       1        0
   Forward
0        1
1        0
2        1
3        0
4        1
5        1
6        0
7        0
8        0
9        0

   Where When  Fred Starts  Joe Offense  Joe Defense  Opp C OutCome
0      1  7pm            1            0            1   Tall     Won
1      1  7pm            1            1            0  Short     Won
2      0  7pm            1            1            1   Tall     Won
3      1  5pm            0            1            0   Tall    Lost
4      0  9pm            1            1            1  Short    Lost
5      0  7pm            0            0            1   Tall     Won
6      1  7pm            0            1            0   Tall    Lost
7      1  7pm            1            0            0   Tall     Won
8      0  7pm            1            0            0  Short     Won
9      1  9pm            0            1            0  Short    Lost

In [44]:
tempdf = pd.get_dummies(entropy_temp['Opp C'])
print(tempdf)
tempdf = tempdf.drop(['Short'], axis=1)
print(tempdf)

entropy_temp['Opp C'] = tempdf['Tall']
entropy_temp

   Short  Tall
0      0     1
1      1     0
2      0     1
3      0     1
4      1     0
5      0     1
6      0     1
7      0     1
8      1     0
9      1     0
   Tall
0     1
1     0
2     1
3     1
4     0
5     1
6     1
7     1
8     0
9     0

   Where When  Fred Starts  Joe Offense  Joe Defense  Opp C OutCome
0      1  7pm            1            0            1      1     Won
1      1  7pm            1            1            0      0     Won
2      0  7pm            1            1            1      1     Won
3      1  5pm            0            1            0      1    Lost
4      0  9pm            1            1            1      0    Lost
5      0  7pm            0            0            1      1     Won
6      1  7pm            0            1            0      1    Lost
7      1  7pm            1            0            0      1     Won
8      0  7pm            1            0            0      0     Won
9      1  9pm            0            1            0      0    Lost

In [45]:
tempdf = pd.get_dummies(entropy_temp['OutCome'])
print(tempdf)
tempdf = tempdf.drop(['Lost'], axis=1)
print(tempdf)

entropy_temp['OutCome'] = tempdf['Won']
entropy_temp

   Lost  Won
0     0    1
1     0    1
2     0    1
3     1    0
4     1    0
5     0    1
6     1    0
7     0    1
8     0    1
9     1    0
   Won
0    1
1    1
2    1
3    0
4    0
5    1
6    0
7    1
8    1
9    0

   Where When  Fred Starts  Joe Offense  Joe Defense  Opp C  OutCome
0      1  7pm            1            0            1      1        1
1      1  7pm            1            1            0      0        1
2      0  7pm            1            1            1      1        1
3      1  5pm            0            1            0      1        0
4      0  9pm            1            1            1      0        0
5      0  7pm            0            0            1      1        1
6      1  7pm            0            1            0      1        0
7      1  7pm            1            0            0      1        1
8      0  7pm            1            0            0      0        1
9      1  9pm            0            1            0      0        0

In [46]:
tempdf = pd.get_dummies(entropy_temp['When'])
print(tempdf)
tempdf = tempdf.drop(['7pm'], axis=1)
print(tempdf)

entropy_temp['When'] = tempdf['9pm']
entropy_temp

   5pm  7pm  9pm
0    0    1    0
1    0    1    0
2    0    1    0
3    1    0    0
4    0    0    1
5    0    1    0
6    0    1    0
7    0    1    0
8    0    1    0
9    0    0    1
   5pm  9pm
0    0    0
1    0    0
2    0    0
3    1    0
4    0    1
5    0    0
6    0    0
7    0    0
8    0    0
9    0    1

   Where  When  Fred Starts  Joe Offense  Joe Defense  Opp C  OutCome
0      1     0            1            0            1      1        1
1      1     0            1            1            0      0        1
2      0     0            1            1            1      1        1
3      1     0            0            1            0      1        0
4      0     1            1            1            1      0        0
5      0     0            0            0            1      1        1
6      1     0            0            1            0      1        0
7      1     0            1            0            0      1        1
8      0     0            1            0            0      0        1
9      1     1            0            1            0      0        0

In [47]:
def calc_entropy(column):

    """
    Calculate entropy given a pandas series, list, or numpy array.
    """
    
    # Compute the counts of each unique value in the column
    counts = np.bincount(column)

    # Divide by the total column length to get a probability
    probabilities = counts / len(column)
    
    # Initialize the entropy to 0
    entropy = 0

    # Loop through the probabilities, and add each one to the total entropy
    for prob in probabilities:
        if prob > 0:
            # use log from math and set base to 2
            entropy += prob * math.log(prob, 2)
    
    return -entropy

In [48]:
calc_entropy(entropy_temp['OutCome'])

0.9709505944546686

In [49]:
print(entropy_temp, "\n")
print("Entropies:")
columns = ['Where', 'When', 'Fred Starts', 'Joe Offense', 'Joe Defense', 'Opp C',
       'OutCome']
for cols in columns:
  print(cols, ": ", 
  calc_entropy(entropy_temp[cols]))

   Where  When  Fred Starts  Joe Offense  Joe Defense  Opp C  OutCome
0      1     0            1            0            1      1        1
1      1     0            1            1            0      0        1
2      0     0            1            1            1      1        1
3      1     0            0            1            0      1        0
4      0     1            1            1            1      0        0
5      0     0            0            0            1      1        1
6      1     0            0            1            0      1        0
7      1     0            1            0            0      1        1
8      0     0            1            0            0      0        1
9      1     1            0            1            0      0        0

Entropies:
Where :  0.9709505944546686
When :  0.7219280948873623
Fred Starts :  0.9709505944546686
Joe Offense :  0.9709505944546686
Joe Defense :  0.9709505944546686
Opp C :  0.9709505944546686
OutCome :  0.9709505944546686

In [50]:
def calc_information_gain(data, split_name, target_name):

    """
    Calculate information gain given a data set, column to split on, and target
    """

    # Calculate the original entropy
    original_entropy = calc_entropy(data[target_name])
    #print(f"Outcome Entropy: '", original_entropy)
    
    #Find the unique values in the column
    values = data[split_name].unique()
    
    # Make two subsets of the data, based on the unique values
    left_split = data[data[split_name] == values[0]]
    right_split = data[data[split_name] == values[1]]
    #print(left_split)
    #print(right_split)
    
    # Loop through the splits and calculate the subset entropies
    to_subtract = 0
    
    for subset in [left_split, right_split]:
        prob = (subset.shape[0] / data.shape[0]) 
        to_subtract += prob * calc_entropy(subset[target_name])
        #print(to_subtract)
    
    # Return information gain
    return original_entropy - to_subtract

In [51]:
calc_information_gain(entropy_temp, 'Where', 'OutCome')

0.0464393446710154

In [52]:
#columns = ['Where?','When', 'Fred Start?', 'Joe Offense?', 'Joe Defense?', 'Opp C?']

def highest_info_gain(columns):
  #Intialize an empty dictionary for information gains
  information_gains = {}
  
  #Iterate through each column name in our list
  for col in columns:
    #Find the information gain for the column
    information_gain = calc_information_gain(entropy_temp, col, 'OutCome')
    #Add the information gain to our dictionary using the column name as the ekey                                         
    information_gains[col] = information_gain
    print(col, f" information gain: ", information_gains[col])
  #Return the key with the highest value  
  max_info_gain = print(f"\nMax Information gain is :", max(information_gains), " instance field with information gain of: ", information_gains[max(information_gains)])                                        
  #return max(information_gains)
  return max_info_gain

In [53]:
print(highest_info_gain(columns))

Where  information gain:  0.0464393446710154
When  information gain:  0.3219280948873623
Fred Starts  information gain:  0.256425891682003
Joe Offense  information gain:  0.4199730940219749
Joe Defense  information gain:  0.0464393446710154
Opp C  information gain:  0.01997309402197489
OutCome  information gain:  0.9709505944546686

Max Information gain is : Where  instance field with information gain of:  0.0464393446710154
None